<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Biblioteca</title>
     <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.4.0/model-viewer.min.js"></script>
    
</head>
<body>
    <header>
        <nav class="MENU">
            <a href="#home">INÍCIO</a>
            <a href="#genero">GÊNEROS</a>
            <a href="#meus">MEUS LIVROS</a>
            <a href="/perfil" class="profile-button">
                <img src="/imagens/Captura_de_tela_2025-09-26_194701-removebg-preview.png" alt="foto perfil">
            </a>
            <form class="search-form" role="search" action="/buscar" method="GET">
            <input type="search" name="q" placeholder="Buscar livros, autores..." aria-label="Buscar">
            <button type="submit">Buscar</button>
        </form>
        </nav>
        
    </header>
    <main>
        <section id="home">
            
             <div class="logo-container">
                <img src="/imagens/logo.png" alt="logo">
             </div>

            <div class="container-principal-home">
              <div class="container home h2">
                  <h1>Encontre os melhores <br>livros que te <br>acompanharão em sua <br>jornada aqui!!!</h1>
              </div>
                <div class="livros home">
                  <model-viewer src="/modelos/interior_-_books__minecraft.glb"
                  alt="modelo 3D 1"
                  shadow-intensity="1"
                  camera-controls auto-rotate
                  disable-tap
                  style="width: 250px; height: 350px; margin: 10px;" >  ></model-viewer>
              </div>
            </div>
            <div class="fundo-preferidos">
                <div class="container home h22">
                  <h1>Os mais escolhidos</h1>
                </div>
                <div class="livros preferidos">
                  <model-viewer src="/modelos/preferidos.glb"
                  alt="modelo 3D 1"
                  shadow-intensity="1"
                  camera-controls auto-rotate
                  style="width: 900px; height: 400px; margin: 10px;" >  
                   ></model-viewer>
              </div>
            </div>
        </section>
        <section id="genero">
            <div class="generos">
                <div class="livro1">
                    <h3>Tecnologia</h3>
                    <img src="/imagens/livro1.png" alt="livro1">
                </div>
                <div class="livro2">
                    <h3>Engenharia</h3>
                    <img src="/imagens/livro2.png" alt="livro2">
                </div>
                <div class="livro3">
                    <h3>Negócios</h3>
                    <img src="/imagens/livro3.png" alt="livro3">
                </div>
                <div class="livro4">
                    <h3>Ciências</h3>
                    <img src="/imagens/livro4.png" alt="livro4">
                </div>
                <div class="livro5">
                    <h3>Direito</h3>
                    <img src="/imagens/livro5.png" alt="livro5">
                </div>
                <div class="livro6">
                    <h3>Humanas</h3>
                    <img src="/imagens/livro6.png" alt="livro6">
                </div>
                <div class="livro7">
                    <h3>Medicina</h3>
                    <img src="/imagens/livro7.png" alt="livro7">
                </div>
                <div class="livro8">
                    <h3>Artes</h3>
                    <img src="/imagens/livro8.png" alt="livro8">
                </div>
            </div>
        </section>
        <section id="meus">
            <div class="meus-livros">
                <h1>Meus livros</h1>
            </div>
            <div class="livros-favoritos">
                <div class="livrofav1">
                    <img src="/imagens/livrofav1.png" alt="fav1">
                </div>
                <div class="livrofav1">
                    <img src="/imagens/livrofav2.png" alt="fav2">
                </div>
            </div>
            
        </section>
    </main>
</body>
</html>